
### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & Opérations </span> </b></center>

**Exercise 00:**  
>

  
> 1. Déclarez une variable `prenom` et attribuez-lui une valeur.
  > 2. Déclarez une variable `nom` et attribuez-lui une valeur.
  > 3. Déclarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. Déclarez une variable `pays` et attribuez-lui une valeur.
  > 5. Déclarez une variable `ville` et attribuez-lui une valeur.
  > 6. Déclarez une variable `age` et attribuez-lui une valeur.
  > 7. Déclarez une variable `annee` et attribuez-lui une valeur.
  > 8. Déclarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. Déclarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient à l'aide de la fonction `print()`.

In [5]:
prenom="Yolande"
nom="ATONHONTON"
prenom_nom="Yolande ATONHONTON"
pays="Bénin"
ville="Porto-Novo"
age=24
annee=2022
est_marie="à quelqu'un"
est_vrai="vrai"
print(prenom)
print('\t')
print(nom)
print('\t')
print(prenom_nom)
print('\t')
print(pays)
print('\t')
print(ville)
print('\t')
print(age)
print('\t')
print(annee)
print('\t')
print(est_marie)
print('\t')
print(est_vrai)

Yolande

ATONHONTON

Yolande ATONHONTON

Bénin

Porto-Novo

24

2022

à quelqu'un

vrai

**Exercise 01:** 
> Vérifiez le type de données de toutes vos variables à l'aide de la fonction intégrée `type()`.**

In [16]:

#type(prenom)
#type(nom)
#type(prenom_nom)
#type(ville)
#type(age)
#type(annee)
#type(est_marie)
#type(est_vrai)
# Décommenter pour avoir le type

str

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser différentes valeurs de $x$ et déterminez à quelle valeur de $x$ $y$ sera égal à 0.**

In [25]:
x=2
y=x**2+6*x+9
print(y)
print('\t')
x=1
y=x**2+6*x+9
print(y)
print('\t')
x=-3
y=x**2+6*x+9
print(y)

25

16

0

**Exercise 03:** 
>    

     1. Déclarez votre âge sous forme de variable entière
     2. Déclarez votre taille en tant que variable flottante
     3. Déclarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [34]:
age=24
taille=1.76
base=input("Entrez la base du triangle")
hauteur=input("Entrez la hauteur du triangle")
aire=(0.5)*float(base)*float(hauteur)
print("l'aire de ce triangle est")
print(aire)

Entrez la base du triangle5
Entrez la hauteur du triangle4
l'aire de ce triangle est
10.0

## *Astuce : recevoir les entrées de l'utilisateur *
**Pour recevoir une entrée de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrée de l'utilisateur et calculez leur puissance :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} à la puissance {exposant} = {résultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [36]:
a=input("Entrez la longueur du premier côté du triangle")
b=input("Entrez la longueur du deuxieme côté du triangle")
c=input("Entrez la longueur du troisième côté du triangle")
perimetre=float(a)+float(b)+float(c)
print("Le perimetre de ce triangle est")
print(perimetre)

Entrez la longueur du premier côté du triangle5
Entrez la longueur du deuxieme côté du triangle6
Entrez la longueur du troisième côté du triangle8
Le perimetre de ce triangle est
19.0

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle à l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [37]:
longueur=input("Entrez la longueur du rectangle")
largeur=input("Entrez la largeur du rectangle")
superficie=float(longueur)*float(largeur)
perimetre=(float(longueur)+float(largeur))*2
print("Le perimetre est ")
print(perimetre)
print("La superficie est ", )
print(superficie)

Entrez la longueur du rectangle5
Entrez la largeur du rectangle6
Le perimetre est
22.0
La superficie est
30.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [42]:
pi=3.14
rayon=input("Entrez le rayon du cercle ")
aire=float(pi)*float(rayon)*float(rayon)
circonference=(2)*float(pi)*float(rayon)
print("L'aire  du cercle est", aire)
print("La circonférence du cercle ", circonference)

Entrez le rayon du cercle5
L'aire  du cercle est 78.5
La circonférence du cercle  31.400000000000002

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [45]:
x_1=0
y = 2*x_1 -2
y_1=y
x_2=1
y = 2*x_2 -2
y_2=y
pente=(y_2-y_1)/(x_2-x_1)
print("La pente est", pente)
print("L'ordonnée à l'origine en y est ",y_1)
print("L'ordonnée à l'origine en x est ")

La pente est 2.0
L'ordonnée à l'origine en y est  -2
L'ordonnée à l'origine en x est

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [46]:
heure=input("Entrez une heure")
taux=input("Entrez le taux horaire")
renumeration=float(heure)*float(taux)
print("La renumeration est ", renumeration)

Entrez une heure21
Entrez le taux horaire10
La renumeration est  210.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [57]:
annee=input("Entrez le nombre d'annee")
seconde=int(annee)*int(365)*int(24)*int(60)*int(60)
print("Le nombre de secondes qu'une personne peut vivre est ", seconde, "seconde")

Entrez le nombre d'annee5
Le nombre de secondes qu'une personne peut vivre est  157680000 seconde

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [55]:
liste_1=[1,1,1,1,1]
liste_2=[2,1,2,4,8]
liste_3=[3,1,3,9,27]
liste_4=[4,1,4,16,64]
liste_5=[5,1,5,25,125]
print(liste_1)
print(liste_2)
print(liste_3)
print(liste_4)
print(liste_5)

[1, 1, 1, 1, 1]
[2, 1, 2, 4, 8]
[3, 1, 3, 9, 27]
[4, 1, 4, 16, 64]
[5, 1, 5, 25, 125]

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. Améliorer l'affichage en imposant un chiffre après la virgule.**

In [60]:
temps=6.892
distance=19.7
vitesse=distance/temps
print(round(vitesse,1))

2.9

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [64]:
rayon=input("Entrez le rayon du cône droit")
hauteur=input("Entrer la hauteur du cône droit")
volume=(1/3)*(3.14)*(float(rayon)**2)*float(hauteur)
print("Le volume du cône droit est", volume)

Entrez le rayon du cône droit1
Entrer la hauteur du cône droit3
Le volume du cône droit est 3.1399999999999997

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de façons de le faire en lançant deux dés.**

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [70]:
_prenom_=input("Entrez le prenom")
_nom_=input("Entrez le nom")
_pays_d_origine=input("Entrez le pays d'origine")
_age_=input("Entrez l'age")

Entrez le prenomjniu
Entrez le nomhnk
Entrez le pays d'origineiuiujiu
Entrez l'age47

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [71]:
num_one=5
num_two=4
total=int(num_one)+int(num_two)
diff=int(num_one)-int(num_two)
produit=int(num_one)*int(num_two)
division=int(num_one)/int(num_two)
exp=int(num_one)**int(num_two)

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! 🎉 </span> </b></center>