### Exercice 1
>Somme

In [ ]:
n=int(input("Veuillez saisir un entier: "))
somme=0
for i in range(0, n):
    somme=somme+(i+3)
print(somme)

>Produit

In [1]:
n=int(input("Veuillez saisir un entier: "))
produit=1
for i in range(0, n):
    produit=produit*(i+3)
print(produit)

Veuillez saisir un entier: 4
360

### Exercice 2

In [4]:
n=int(input("Entrez le numero du jour de la semaine (0 à 6) "))
semaine=["Lundi", "Mardi","Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
if n in [0, 1, 2, 3, 4]:
    print(semaine[n])
elif n in [5,6]:
    print("Week-end")
else:
    print("Le numero ne convient pas")

Entrez le numero du jour de la semaine (0 à 6)2
Mercredi

### Exercice 3

In [8]:
n=int(input("Entrez le numero du mois (0,11) "))
if n==1:
    print("Le mois de numero", n, " a 28 jours")
elif n in [0, 2, 4, 6, 7, 9, 11]:
    print("Le mois de numero", n, " a 31 jours")
elif n in [3, 5, 8, 10]:
    print("Le mois de numero", n, " a 30 jours")
else:
    print("Le numero ne convient pas")

Entrez le numero du mois (0,11) 14
Le numero ne convient pas

### Exercice 4

In [9]:
for i in range(0,3):
    print("Yolande")
i=0
while i<3:
    print("Yolande")
    i+=1

Yolande
Yolande
Yolande
Yolande
Yolande
Yolande

### Exercice 5

In [1]:
def fibonacci(n):
    a_0=0
    a_1=1
    if n==0:
        return a_0
    elif n==1:
        return a_1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
for i in range(0,15):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

### Exercice 6

In [3]:
def sequence(n):
    a_0=0
    a_1=1
    if n==0:
        return a_0
    elif n==1:
        return a_1
    else:
        return (1/2)*sequence(n-1)+3*sequence(n-2)
for i in range(0,30):
    print(sequence(i))

0
1
0.5
3.25
3.125
11.3125
15.03125
41.453125
65.8203125
157.26953125
276.095703125
609.8564453125
1133.21533203125
2396.177001953125
4597.7344970703125
9487.398254394531
18536.902618408203
37730.646072387695
74476.03089141846
150429.9536628723
298643.0695056915
600611.3957414627
1196234.906387806
2399951.640418291
4788680.539372563
9594195.190941155
19163139.213588268
38364155.1796176
76671495.2305736
153428213.15413958

### Exercice 7

In [6]:
annee=int(input("Entrez une année "))
if annee%4==0:
    print("Année bixesstile")
else:
    print("Annee commune")

Entrez une année4
Année bixesstile

### Exercice 8 a)

In [9]:
n=int(input("Entrez un entier naturel "))
sum=0
for i in range(0,n):
    sum+=i**2
print(sum)

Entrez un entier naturel5
30

### Exercice 8 a)

In [12]:
n=int(input("Entrez un entier naturel "))
sum=0
i=0
while i < n:
    sum+=i**2
    i+=1
print(sum)

Entrez un entier naturel 5
30

### Exercice 8 b)

In [18]:
m=int(input("Entrez un entier naturel "))
sum=0
i=0
while sum < m:
    i+=1
    sum+=i**2
print(i)

Entrez un entier naturel 4
2

### Exercice 9 a)

In [22]:
n=int(input("Entrez un entier naturel "))
i=0
for i in range(1,n+1):
    if n%i==0:
        print(i)

Entrez un entier naturel 10
1
2
5
10

### Exercice 9 b)

In [24]:
n=int(input("Entrez un entier naturel "))
i=0
sum=0
for i in range(1,n+1):
    if n%i==0:
        sum+=i
print(sum)

Entrez un entier naturel 10
18

### Exercice 10

In [27]:
n=int(input("Entrez un entier naturel entre 0 et 9 "))
N=int(input("Entrez un entier naturel "))
for i in range(0,N+1):
    res=i*n
    print(n,"*",i,"=",res)

Entrez un entier naturel entre 0 et 9 9
Entrez un entier naturel 10
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

### Exercice 11

In [28]:
for i in range(0,41):
    if i%3==0:
        print("multiple de 3",i)
for i in range(0,41):
    if i%7==0:
        print("multiple de 7",i)
for i in range(0,41):
    if i%11==0:
        print("multiple de 11",i)

multiple de 3 0
multiple de 3 3
multiple de 3 6
multiple de 3 9
multiple de 3 12
multiple de 3 15
multiple de 3 18
multiple de 3 21
multiple de 3 24
multiple de 3 27
multiple de 3 30
multiple de 3 33
multiple de 3 36
multiple de 3 39
multiple de 7 0
multiple de 7 7
multiple de 7 14
multiple de 7 21
multiple de 7 28
multiple de 7 35
multiple de 11 0
multiple de 11 11
multiple de 11 22
multiple de 11 33

### Exercice 12

In [ ]:
x=float(input("Entrez réel "))
n=int(x)
if x==n:
    print(n)
elif x>=0:
    print(n)
else:
    print(n-1)

### Exercice 13

In [34]:
x=float(input("Entrez l'abscisse du point "))
y=float(input("Entrez l'ordonnée du point "))
if x==0 and y==0:
    print("Origine du repère")
if x==0:
    print("Point appartenant à l'axe des ordonnées")
if y==0:
    print("Point appartenant à l'axe des abscisses")
if x>0 and y>0:
    print("Point dans le premier quadran")
if x<0 and y>0:
    print("Point dans le deuxième quadran")
if x<0 and y<0:
    print("Point dans le troisième quadran")
if x>0 and y<0:
    print("Point dans le auqtrième quadran")

Entrez l'abscisse du point1
Entrez l'ordonnée du point1
Point dans le premier quadran

### Exercice 14

In [7]:
multiple=[]
x=int(input("Entrez un entier compris en 0 et 9 : "))
while x<0 or x>9:
    x=int(input("Entrez un entier compris en 0 et 9 : "))
maxi=int(input("Entrez un entier entre 0 et 256 :"))
while maxi<0 or maxi>256:
    maxi=int(input("Entrez un entier entre 0 et 256 :"))

for i in range(0,maxi+1):
    if i%x==0:
        multiple.append(i)
print("Les multiples de ", x, " entre 0 et ", maxi, " sont ", multiple)

Entrez un entier compris en 0 et 9 : 14
Entrez un entier compris en 0 et 9 : -2
Entrez un entier compris en 0 et 9 : 8
Entrez un entier entre 0 et 256 :51945
Entrez un entier entre 0 et 256 :498489
Entrez un entier entre 0 et 256 :-55
Entrez un entier entre 0 et 256 :98
Les multiples de  8  entre 0 et  98  sont  [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]